[submodule "third_party/slotmap"]
	path = third_party/slotmap
	url = https://github.com/Iunave/slotmap.git
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third_party/libassert"]
	path = third_party/libassert
	url = https://github.com/jeremy-rifkin/libassert.git
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/quill"]
	path = third_party/quill
	url = https://github.com/odygrd/quill.git
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third_party/VulkanMemoryAllocator"]
	path = third_party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "third_party/VulkanMemoryAllocator-Hpp"]
	path = third_party/VulkanMemoryAllocator-Hpp
	url = https://github.com/YaaZ/VulkanMemoryAllocator-Hpp.git
[submodule "third_party/SPIRV-Reflect"]
	path = third_party/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "third_party/assimp"]
	path = third_party/assimp
	url = https://github.com/assimp/assimp.git
[submodule "third_party/vorbis"]
	path = third_party/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "third_party/ogg"]
	path = third_party/ogg
	url = https://github.com/xiph/ogg.git
[submodule "third_party/shaderc"]
	path = third_party/shaderc
	url = https://github.com/google/shaderc.git
[submodule "third_party/SPIRV-Tools"]
	path = third_party/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "third_party/SPIRV-Headers"]
	path = third_party/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "third_party/glslang"]
	path = third_party/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
[submodule "third_party/taskflow"]
	path = third_party/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "third_party/concurrentqueue"]
	path = third_party/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "third_party/oneTBB"]
	path = third_party/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "third_party/flecs"]
	path = third_party/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
